@model FHamel_ELMarion_tp3.Models.ClasseBD.Restaurant

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Restaurant</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="RestaurantID" />
        <div class="form-group">
            <label asp-for="AnneeOuverture" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AnneeOuverture" class="form-control" />
                <span asp-validation-for="AnneeOuverture" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CotesMembres" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CotesMembres" class="form-control" />
                <span asp-validation-for="CotesMembres" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NomRestaurant" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NomRestaurant" class="form-control" />
                <span asp-validation-for="NomRestaurant" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Photo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrixApproxPour2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrixApproxPour2" class="form-control" />
                <span asp-validation-for="PrixApproxPour2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SiteWeb" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SiteWeb" class="form-control" />
                <span asp-validation-for="SiteWeb" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
