@model IEnumerable<FHamel_ELMarion_tp3.Models.ClasseBD.Restaurant>

@{
    ViewData["Title"] = "Restaurants";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ApplicationUser CurrentUser = await UserManager.GetUserAsync(User);}
<h2>Restaurants</h2>

<p>
    <a asp-action="RestaurantAjout">Ajouter un restaurant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomRestaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnneeOuverture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CotesMembres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixApproxPour2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteWeb)
            </th>
@if (CurrentUser != null && CurrentUser.EstAdmin)
{
            <th></th>
}
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="DetailRestaurant" asp-controller="Restaurants" asp-route-id="@item.RestaurantID">@Html.DisplayFor(modelItem => item.NomRestaurant)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnneeOuverture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CotesMembres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                <img src="~/images/@item.Photo" alt="ASP.NET" class="img-responsive" style='height: 50px; width: 100px;' />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixApproxPour2)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteWeb)
            </td>
@if (CurrentUser != null && CurrentUser.EstAdmin)
{
            <td>
                <a asp-action="Edit" asp-route-id="@item.RestaurantID">Edit</a> |
                <a asp-action="DetailRestaurant" asp-route-id="@item.RestaurantID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RestaurantID">Delete</a>
            </td>
}
        </tr>
}
    </tbody>
</table>
